@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;

    }

body {
    background-color: #1F2937;
}

.photo {
    align-content: center;
    padding: 8px;
}

p {
    color: white;
}

li {
    color: white;
}

h1 , h3{
    color: white;
}

.desc , .ing , .direc {
    border: 1px solid white;
    padding:8px;
    margin: 8px;
}
